---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="404">
  <div class="text-center">
    <h1 class="text-5xl font-semibold text-white">
      Page doesn't exist. We wish it did.
    </h1>
  </div>
</BaseLayout>
