---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="About">
    <h1 class="text-5xl font-semibold text-white">About us</h1>
    <p class="text-transparent line-height 0.25rem">/n</p>
    <p class="text-xl font-semibold text-white">Who we are?</p>

    <p class="text-white">
        The Warwick Economics Summit is an entirely student-run international
        forum where talented university students listen to some of the world’s
        most revered and inspirational speakers. The next edition will run from
        2nd - 4th February 2024.
    </p>
    <p class="text-transparent line-height 0.25rem">/n</p>
    <p class="text-xl font-semibold text-white">What do we do?</p>

    <p class="text-white">
        The summit’s focus goes far beyond the field of economics, encompassing
        ­­the broader spheres of the social sciences, including development,
        politics, journalism, and international relations.
    </p>

    <p class="text-white">
        It is this wide scope and diversity that sets the Summit apart from
        other events, ensuring that it remains relevant and in tune with today’s
        wider issues.
    </p>
</BaseLayout>
