---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="WESBlog">
    <h1 class="text-5xl font-semibold text-white">WESBlog</h1>
    <p class="text-transparent line-height 0.25rem">/n</p>
    <p class="text-xl font-semibold text-white">Who we are?</p>

    <p class="text-white">
        Warwick Economics Summit is driven by its central, motivating slogan:
        <span class="font-semibold text-lg">‘Join the Debate’.</span>
    </p>

    <p class="text-white">
        In this spirit of promoting honest, inquisitive, and informed discussion
        - among the University of Warwick populus and far, far beyond - WES Blog
        was founded as the accompanying journalistic endeavour to Warwick
        Economics Summit, in 2017, by its Press and Communications team.
    </p>
    <p class="text-white">
        To this day, the WES Press and Communications team - and made-up
        exclusively of engaged students at the University of Warwick - remains a
        forum for quality, well-researched economic and related student
        journalism. In fact, the blog may present the most compelling
        opportunity for the WES audience to remain immersed in thought-provoking
        discussion year-round - at our Summit and beyond. This is why we keep
        the debate open - for it is not only the communication-savvy team behind
        WES that pens our topical content.
        <p>
            <p class="text-white">
                The blog is home to great guest submissions from the Summit’s
                global network of Ambassadors, Representatives, Delegates and
                external audience members. Through another of our curated
                content streams, We Respond, WES Blog asserts its voice in
                professional and dialectic journalistic discourse by offering
                compelling response pieces. The Summit revolves of course around
                the world-class line-up of events and speeches from
                thought-leaders in both academia and industry hosted at and by
                Warwick Economics Summit on an annual basis. From transcripts to
                summaries to exclusive interviews, the truly formative student
                experience of WES is incomplete without a trip to the WES Blog.
                If you would like to inquire about press and communications
                related partnership and collaboration opportunities; about
                submissions to the WES Blog; or about attendance of the Warwick
                Economics Summit in a press capacity: please do not hesitate to
                contact the Press and Communications team via email:
                <span class="italic" presscoordinator@warwickeconomicssummit.com
                ></span> ​
            </p>
            For more information about the selection, review and publication process
            for WES Blog articles - as well as our requirements for article submissions
            from audience members - please see our terms and conditions document
            here. Finally, to actually submit an article for review and prospective
            publication on the WES Blog, please use one of the following Google forms:
            For general audience members, submit here For officially recruited WES
            ambassadors and representatives, or confirmed delegates, submit here
        </p>
    </p>
</BaseLayout>
