---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="WESBlog">
    <h1 class="text-5xl font-semibold text-white">WESBlog</h1>
    <p class="text-transparent line-height 0.25rem">/n</p>
    <p class="text-xl font-semibold text-white">Who we are?</p>

    <p class="text-white text-lg">
        Warwick Economics Summit is driven by its central, motivating slogan:
        <span class="italic font-semibold">‘Join the Debate’.</span>
    </p>

    <p class="text-white">
        In this spirit of promoting <span class="font-semibold"
            >honest, inquisitive, and informed</span
        > discussion - among the University of Warwick populus and far, far beyond
        - WES Blog was founded as the accompanying journalistic endeavour to Warwick
        Economics Summit, in 2017, by its Press and Communications team.
    </p>
</BaseLayout>
